<!DOCTYPE html>
<html>
    <head>
        <title>Why</title>
        <link rel="stylesheet" href="css/style.css">
        <script src="./js/app.js"></script>
    </head>
    <body style="background-image: url('./img/about.jpg');background-position: center center;background-repeat: no-repeat;background-attachment: fixed;background-size: cover;">
        <div class='main-content'>
            {{>header}}
        </div>
        <div style="border: solid white 2.5px;padding:15px;margin-bottom:20%;background-color:pink">
            <p style="font-size: xx-large;">>_Anh làm là vì...</p>
        </div>
        {{>footer}}
    </body>
</html>